option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    composer_options: --no-dev

  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_NAME: APP-ADMIN-GMC-PROD
    APP_KEY: "base64:OPI900WaJPr3qwhk8uXdLA2Q8aEW4KysxEIld4qORi8="
    APP_URL: "http://app-admin-gmc-prod-env.eba-a3cbr922.us-east-1.elasticbeanstalk.com/"
    APP_DEBUG: 'true'
    APP_LOG: daily
    APP_LOG_LEVEL: error
    LOG_CHANNEL: daily
    AWS_REGION: "us-east-1"
    URL_API: "http://app-backend2025-env.eba-ss28pbzx.us-east-1.elasticbeanstalk.com/api/"
    URL_IMG: "http://app-backend2025-env.eba-ss28pbzx.us-east-1.elasticbeanstalk.com/"
